## Load and Preprocess Dataframe

#### import libraries

In [1]:
import pandas as pd
import numpy as np

#### read dataframe via url, and have an initial view

In [2]:
d = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = d[0]

In [3]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [4]:
df.nunique()

Postal code     180
Borough          11
Neighborhood     98
dtype: int64

#### Clean data: 
1. check if 'Not assigned' in Borough has Neighborhood
2. if yes, assign Borough
3. remove the 'Not assigned' columns in Borough
4. merge the Neighborhood with the same Borough

In [5]:
df[df['Borough']=='Not assigned']

    Postal code       Borough Neighborhood
0           M1A  Not assigned          NaN
1           M2A  Not assigned          NaN
7           M8A  Not assigned          NaN
10          M2B  Not assigned          NaN
15          M7B  Not assigned          NaN
..          ...           ...          ...
174         M4Z  Not assigned          NaN
175         M5Z  Not assigned          NaN
176         M6Z  Not assigned          NaN
177         M7Z  Not assigned          NaN
179         M9Z  Not assigned          NaN

[77 rows x 3 columns]

In [6]:
df.drop(df[df['Borough']=='Not assigned'].index, inplace=True)

In [7]:
df.columns = ['Postalcode','Borough','Neighborhood'] # change column names

In [8]:
df.reset_index(drop=True, inplace=True) # reset indexes

In [9]:
df['Postalcode'].nunique() # the Wiki page has been updated and no need to merge the Neighborhood with the same Postalcode

103

In [10]:
df['Neighborhood'] = df['Neighborhood'].apply(lambda x: eval(repr(x).replace(' / ', ', ')))

In [11]:
df.head()

  Postalcode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [12]:
df.shape

(103, 3)